<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>search</title>
  </head>
  <body>
    <h1>検索</h1>
    <form action="/shops/search" method="GET">
      <input type="text" id="q" name="q" />
      <input type="submit" value="検索" />
    </form>
  </body>
</html>