<div>
    <table class="result-item">
      <tr>
        <th>name</th>
        <td><%= name%></td>
      </tr>
      <tr>
        <th>location</th>
        <td><%= location%></td>
      </tr>
      <tr>
        <th>tel</th>
        <td><%= tel%></td>
      </tr>
    </table>
  </div>